body{
    margin:0px;
}

.navbar{
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 0;
    right: 0;
    margin: 0 15%;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: all 0.3s ease;
    transform: translateY(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.scrolled {
    transform: translateY(0);
}

.big-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px; /* Adjust as needed */
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    transition: font-size 0.3s, top 0.3s; /* Add transition */
}

.small-text {
    position: absolute;
    top: calc(50% + 50px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 26px; /* Adjust as needed */
    font-family: Montserrat, sans-serif;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s, top 0.5s ease; /* Add transition */
    background-color: rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar h1{
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.navbar a{
    margin: 15px;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    transition: box-shadow 0.1s;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.05);
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.big-container {
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    background-image: url('https://as2.ftcdn.net/v2/jpg/07/22/75/39/1000_F_722753989_ZZDleCBOn53XJSlrRVBKnLH1E0hdtycB.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 75px black;
}

.auto-container{
    height: auto;
    margin: 0 auto;
    display: inline;
}

.small-container {
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    border: none;
}

.left-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 50%;
    justify-content: center;

}

#map {
    width: auto;
    height: 90vh;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#district-info {
    margin-top: 5vh;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    max-width: 400px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#district-info p {
    margin: 0;
}

.medium-title {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    text-align: center;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.display-line {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: transparent;
}

.display {
    position: relative;
    overflow: hidden;
    width: 415px;
    height: 415px;
    margin: 25px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
}

.display-image,
.display-text {
    width: 100%;
    height: 100%;
}

.display-image {
    position: relative;
    overflow: hidden;
}

.display-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify; /* Justifica o texto */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.display:hover .display-text {
    opacity: 1;
    visibility: visible;
}

.display-title {
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    align-self: flex-start; /* Alinha o título à esquerda */
    text-align: left; /* Garante que o texto do título esteja alinhado à esquerda */
    width: 100%;
    margin: 0 25px;
}

.display-text p {
    color: #fff;
    font-family: Montserrat, sans-serif;
    margin: 25px;
}

.profile-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(5px); /* Blur the background */
    z-index: 1; /* Ensure content stays above the background */
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3); /* Slightly opaque background to enhance the blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-container::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: inherit;
    background: inherit;
    z-index: -1;
    filter: blur(20px);
    opacity: 0.7;
}

.profile-picture {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.profile-text {
    flex: 2;
    margin-left: 20px;
}

.profile-text h2 {
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.profile-text p {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.modality-icon {
    margin-top: 10px; /* Space between the text and the icon */
}

.modality-icon img {
    width: 60px; /* Adjust the size of the icon */
    height: auto;
}