body{
    margin:0px;
}

.navbar{
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 0;
    right: 0;
    margin: 0 15%;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: all 0.3s ease;
    transform: translateY(0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar.hidden {
    transform: translateY(-100%);
}

.navbar.scrolled {
    transform: translateY(0);
}

.big-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 72px; /* Adjust as needed */
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    transition: font-size 0.3s, top 0.3s; /* Add transition */
}

.small-text {
    position: absolute;
    top: calc(50% + 50px); /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 26px; /* Adjust as needed */
    font-family: Montserrat, sans-serif;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s, top 0.5s ease; /* Add transition */
    background-color: rgba(0, 0, 0, 0.15);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
    padding: 15px;
    border-radius: 15px;
    text-align: justify;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navbar h1{
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.navbar a{
    margin: 15px;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    transition: box-shadow 0.1s;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.05);
}

.container {
    position: relative;
    display: flex;
    align-items: center; /* Center vertically */
}

.big-container {
    height: 100vh;
    margin: 0 auto;
    padding: 40px;
    background-image: url('https://as2.ftcdn.net/v2/jpg/07/22/75/39/1000_F_722753989_ZZDleCBOn53XJSlrRVBKnLH1E0hdtycB.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 75px black;
}

.auto-container{
    height: auto;
    margin: 0 auto;
    display: inline;
}

.small-container {
    height: 400px;
    margin: 0 auto;
    padding: 20px;
}

.image {
    width: 100%;
    height: 100vh;
    display: flex;
    border: none;
}

.left-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 50%;
    justify-content: center;

}

#map {
    width: auto;
    height: 90vh;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#district-info {
    margin-top: 5vh; /* Reduced margin for better alignment */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Darker background for better contrast */
    border-radius: 10px; /* Increased border radius for smoother edges */
    opacity: 0;
    transform: translateY(50px); /* Slightly adjusted initial position */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); /* Added shadow for depth */
    max-width: 400px; /* Set a maximum width to avoid excessive stretching */
    color: white; /* White text color for better visibility */
    font-family: Montserrat, sans-serif; /* Consistent font family */
    font-size: 16px; /* Adjusted font size for better readability */
    line-height: 1.6; /* Increased line height for improved legibility */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
}

#district-info p {
    margin: 0; /* Reset default margin for paragraphs */
}

.medium-title {
    position: absolute;
    top: 20px; /* Adjust the top distance as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    font-family: Montserrat, sans-serif; /* Assuming Montserrat is your project font */
    text-align: center; /* Center horizontally */
    z-index: 2; /* Ensure the title is above other content */
    color: white; /* Adjust the color as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow */
}

.display-line {
    display: flex;
    justify-content: space-evenly; /* Center the displays horizontally */
    flex-wrap: wrap; /* Allow the displays to wrap to the next line */
}

.display {
    position: relative;
    overflow: hidden;
    width: 415px; /* Set the width of each display to a fixed value */
    height: 415px; /* Set the height of each display to a fixed value */
    margin: 25px; /* Add some space between display elements */
}

.display-image,
.display-text {
    width: 100%;
    height: 100%;
}

.display-image {
    position: relative;
    overflow: hidden;
}

.display-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the images maintain aspect ratio and cover the container */
}

.display-text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display:hover .display-text {
    opacity: 1; /* Show text on hover */
}

.display-text p {
    color: #fff;
    margin: 0; /* Remove default margin */
}